<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('partials/header') -%>
</head>

<body>
  <%- include('partials/nav') -%>
  <h1>Appliances</h1>
  <div>
    <nav class="cotainer">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-alpha-tab" data-toggle="tab" href="#nav-alpha" role="tab" aria-controls="nav-alpha" aria-selected="true">SC4 Alpha</a>
        <a class="nav-item nav-link" id="nav-bravo-tab" data-toggle="tab" href="#nav-bravo" role="tab" aria-controls="nav-bravo" aria-selected="false">SC4 Bravo</a>
        <a class="nav-item nav-link" id="nav-charlie-tab" data-toggle="tab" href="#nav-charlie" role="tab" aria-controls="nav-charlie" aria-selected="false">SC4 Charlie</a>
        <a class="nav-item nav-link" id="nav-eu-tab" data-toggle="tab" href="#nav-eu" role="tab" aria-controls="nav-eu" aria-selected="false">EU</a>
        <a class="nav-item nav-link" id="nav-ca-tab" data-toggle="tab" href="#nav-ca" role="tab" aria-controls="nav-ca" aria-selected="false">CA</a>
        <a class="nav-item nav-link" id="nav-feb-tab" data-toggle="tab" href="#nav-fed" role="tab" aria-controls="nav-fed" aria-selected="false">FED</a>
      </div>

    </nav>
    <br>
    <br>
    <br>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-alpha" role="tabpanel" aria-labelledby="nav-alpha-tab">
        <%- include('partials/sc4alpha') -%>
      </div>
      <div class="tab-pane fade" id="nav-bravo" role="tabpanel" aria-labelledby="nav-bravo-tab">
        <%- include('partials/sc4bravo') -%>
      </div>
      <div class="tab-pane fade" id="nav-charlie" role="tabpanel" aria-labelledby="nav-charlie-tab">
          <%- include('partials/sc4charlie') -%>
      </div>
      <div class="tab-pane fade" id="nav-eu" role="tabpanel" aria-labelledby="nav-eu-tab">
        <%- include('partials/eu') -%>
      </div>
      <div class="tab-pane fade" id="nav-ca" role="tabpanel" aria-labelledby="nav-ca-tab">
        <%- include('partials/ca') -%>
      </div>
      <div class="tab-pane fade" id="nav-fed" role="tabpanel" aria-labelledby="nav-fed-tab">
        <%- include('partials/fed') -%>
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>
</body>

</html>
